<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/quiz.css">
    <script  src="../java_script/quiz.js"></script>
</head>
<body>
    
    <div class="container">

        <div class="question"></div>

        

        <hr class="hr2">

        <div class="questionText"></div>

         <div id="0" class="option"  onclick="getresult(this)" ></div>
         <div id="1" class="option"   onclick="getresult(this)" ></div>
         <div id="2" class="option"  onclick="getresult(this)" ></div>
         <div id="3" class="option"  onclick="getresult(this)" ></div>


        <!-- <button type="submit" class="next">Next</button> -->
        <button onclick="getquestion()" class="next">Next</button>

        <hr class="hr2">

        <div class="circle">

            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>
            <div class="round"></div>



        </div>
    </div>

</body>
</html>